@use '../base/settings';

.notes__main-content {
 display: flex;
 flex-direction: column;
 height: 100%;
}

.notes__appbar {
 align-items: center;
 background-color: settings.$primary;
 color: white;
 display: flex;
 justify-content: space-between;
 padding: 10px 20px 10px 20px;
}

.notes__content {
 display: flex;
 flex-direction: column;
 height: 100%;
 padding: 20px;
}

.notes__title-input,
.notes__textarea {
 border: none;
 &:focus {
  outline: none;
 }
}

.notes__title-input {
 color: settings.$dark-grey;
 font-size: 25px;
 font-weight: 700px;
 margin-bottom: 10px;
}

.notes__textarea {
 border: none;
 color: settings.$dark-grey;
 font-size: 20px;
 flex: 1 1 auto;
 resize: none;
}

.notes__image {
 box-shadow: 4px 5px settings.$dark-grey;
 height: 150px;
}